---------------------- EIS Command Center ----------------------

Automatic detection and operation by EIS Command Center

{{ ansible_date_time.iso8601 }}
AAP Job Template: {{ aap_job_template }}
AAP Job ID: {{ aap_job_id }}
AAP User: {{ aap_user }}
Change Reason: {{ change_reason }}
Change Ticket: {{ change_ticket }}