---------------------- EIS Command Center ----------------------

Automatic detection and operation by EIS Command Center

{{ ansible_date_time.iso8601 }}
Unix-AIX Hostname: {{ ansible_hostname }} : {{ error_filesystem }} = {{ error_usage }}%

Warning: Filesystem {{ error_filesystem }} on {{ ansible_hostname }} over limit {{ error_threshold }}%
Unable to expand filesystem - no available space in volume group

Recommended Action: Please call EIS Unix-Linux Admin Team for review

---------------------- By EIS Command Center ----------------------