---------------------- EIS Command Center ----------------------

Automatic detection and operation by EIS Command Center

Auto start service group spooler

{{ ansible_date_time.iso8601 }}
Show list service group of spooler: