################################################################################
#                     Welcome to {{ server_hostname }}                         #
################################################################################
# Environment: {{ server_environment | upper }}
# Role: {{ server_role | title }}
# OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
# IP Address: {{ ansible_default_ipv4.address }}
# 
# This server is managed by Ansible Automation Platform
# Local modifications may be overwritten by automation
#
# For support, contact: {{ admin_email }}
################################################################################